* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
    margin: 0;
    font-family: "VT323", monospace;
    background-color: #273e06;
    background-image: url(/assets/images/snake-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.snake {
    background-image: linear-gradient(to right, rgb(0, 247, 255), rgb(244, 194, 11));
    border: #182703 1px; 
}
.head {
    background-image: linear-gradient(to right, rgb(0, 247, 255), rgb(244, 194, 11));
    border: #182703 1px;
    border-radius: 50%;
}
#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}
.game-border-1 {
    border: #40660a solid 10px;
    border-radius: 30px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 10px #40660a;
}
.game-border-2 {
    border: #bfe690 solid 8px;
    border-radius: 26px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 10px #bfe690;
}
.game-border-3 {
    border: #46661a solid 30px;
    border-radius: 20px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 5px #73aa25;
}
#instruction-text {
    position: absolute;
    top: 66%;
    color: #273e06;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}
.scores {
    display: flex;
    justify-content: space-between;
}
#score {
    color: #efff0b;
}
#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
#highScore {
    color: #37ff00;
    display: none;
}
.game-border-3,
#logo {
    background-color: #73aa25;
}
.apple {
    background: url(/assets/images/apple.png) center ;
    height: 22px;
    width: 21px;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px #c73e11;
}
.banana {
    background: url(/assets/images/orange.png) center ;
    box-shadow: 0px 0px 10px 3px rgb(250, 183, 57);
    border-radius: 50%;
    width: 23px;
    height: 20px;
} 
.pear {
    background: url(/assets/images/melon.png) center;
    border-radius: 50%;
    box-shadow: 0px 0 10px 3px greenyellow;
    width: 22px;
    height: 22px;
}
#logo {
    position: absolute;
}
#startButton {
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    background-color: #73aa25;
    color: #e6e290;
    font-family: 'VT323';
    font-size: 25px;
}

/* phone screen */ 
@media only screen and (max-width: 600px) {
    #game-board {
        border-radius: 50px;
        display: grid;
        grid-template-columns: repeat(20, 10px);
        grid-template-rows: repeat(20, 10px);
        margin: 5px;
    }
    body{
        height: 100vh;
    }
    #logo {
        display: none;
    }
    .game-border-1 {
        border: #40660a solid 10px;
        border-radius: 30px;
        /* added to remove gap between boarder and game */
        box-shadow: inset 0 0 0 10px #40660a;
    }
    .game-border-2 {
        border: #bfe690 solid 8px;
        border-radius: 26px;
        /* added to remove gap between boarder and game */
        box-shadow: inset 0 0 0 10px #bfe690;
    }
    .game-border-3 {
        border: #46661a solid 10px;
        border-radius: 20px;
        /* added to remove gap between boarder and game */
        box-shadow: inset 0 0 0 5px #74ab26;
    }
    #instruction-text {
        position: absolute;
        top: 43%;
        color: #273e06;
        background-color: #74ab26;
        width: 170px;
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
        padding: 15px;
        margin: 0;
        display: none;
    }

    .apple {
        background-color: #fc0202;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        box-shadow: 0 0 10px 4px #c73e11;
    }
    .banana {
        background-color: #c1bf50;
        box-shadow: 0px 0px 10px 3px rgb(250, 183, 57);
        border-radius: 50%;
        width: 5px;
        height: 5px;
    } 
    .pear {
        background-color: #3c9104;
        border-radius: 50%;
        box-shadow: 0px 0 10px 3px greenyellow;
        width: 5px;
        height: 5px;
    }
}